.page.theme_dark {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-decor-color: #000028;
  --bg-color: #000028;
  --title-color: #db00ff;
  --section-title-color: #ff0070;
  background-image: url("../images/cover-image-dark.png");
}
